<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/ModalWindowEffects/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ModalWindowEffects/css/component.css" />
    <script src="~/Content/ModalWindowEffects/js/modernizr.custom.js"></script>

    <script src="~/Content/ModalWindowEffects/js/classie.js"></script>
    <script src="~/Content/ModalWindowEffects/js/modalEffects.js"></script>
    <script>
        // this is important for IEs
        var polyfilter_scriptpath = '~/js/';
    </script>


    <script src="~/Content/ModalWindowEffects/js/cssParser.js"></script>
    <script src="~/Content/ModalWindowEffects/js/css-filters-polyfill.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @*<img src="~/Content/themes/base/images/Apps.png" />*@
                <p class="site-title">@Html.ActionLink(" ", "Index", "Home",
                new { style = "background: url('" + Url.Content("~/Content/themes/base/images/Apps.png") + "') no-repeat center right; display:block;height:140px; width:264px;" })
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("ApplicationsHE!", "Index", "Application")</li>
                        <li>@Html.ActionLink("Keywordsdsfgdfghcgfh", "Create", "Keyword")</li>
                        <li>@Html.ActionLink("DoItBaby", "Index", "Baby")</li>
                        <li>
                            <button class="md-trigger" data-modal="modal-1">Fade in &amp; Scale</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <!-- All modals added here for the demo. You would of course just have one, dynamically created -->
        <div class="md-modal md-effect-1" id="modal-1">
            <div class="md-content">
                <h3>Modal Dialog</h3>
                <div>
                    <p>This is a modal window. You can do the following things with it:</p>
                    <ul>
                        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                        <li><strong>Close:</strong> click on the button below to close the modal.</li>
                    </ul>
                    <button class="md-close">Close me!</button>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div><!-- the overlay element -->

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
