<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @*<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
 @*   <link href="~/Content/Bootstrap/bootstrap-responsive.css" rel="stylesheet" />*@



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    @* <link href="~/Content/ModalWindowEffects/css/default.css" rel="stylesheet" />
    <link href="~/Content/ModalWindowEffects/css/component.css" rel="stylesheet" />*@

    @* <script src="~/Content/ModalWindowEffects/js/modalEffects.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            //you can now use $ as your jQuery object.

            alert("ohh hi!");
            $('.md-trigger').ModalEffects({
                overlaySelector: '.md-overlay',
                closeSelector: '.md-close',
                classAddAfterOpen: 'md-show',
                modalAttr: 'data-modal',
                perspectiveClass: 'md-perspective',
                perspectiveSetClass: 'md-setperspective',
                afterOpen: function (button, modal) {

                },
                afterClose: function (button, modal) {

                }
            });
            //$('.md-trigger').modalEffects();
        });
    </script>

    <script src="~/Content/ModalWindowEffects/js/modernizr.custom.js"></script>
    <script src="~/Content/ModalWindowEffects/js/classie.js"></script>



    <script>
        // this is important for IEs
        var polyfilter_scriptpath = "~/Content/ModalWindowEffects/js/";
    </script>

    <script src="~/Content/ModalWindowEffects/js/cssParser.js"></script>
    <script src="~/Content/ModalWindowEffects/js/css-filters-polyfill.js"></script>


    <script>
        (function ($) {
            $(document).ready(function () {
                $('.md-trigger').modalEffects({
                    overlaySelector: '.md-overlay',
                    closeSelector: '.md-close',
                    classAddAfterOpen: 'md-show',
                    modalAttr: 'data-modal',
                    perspectiveClass: 'md-perspective',
                    perspectiveSetClass: 'md-setperspective',
                    afterOpen: function (button, modal) {

                    },
                    afterClose: function (button, modal) {

                    }
                });
            });
        })(jQuery);
    </script>*@

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @*<img src="~/Content/themes/base/images/Apps.png" />*@
                <p class="site-title">@Html.ActionLink(" ", "Index", "Home",
                new { style = "background: url('" + Url.Content("~/Content/themes/base/images/Apps.png") + "') no-repeat center right; display:block;height:140px; width:264px;" })
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                    @*    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li>@Html.ActionLink("Applications", "Index", "Application")</li>
                        <li>@Html.ActionLink("Services", "Index", "Services")</li>
                        <li>@Html.ActionLink("Tags", "Create", "Keyword")</li>
                        @*<li>@Html.ActionLink("DoItBaby", "Index", "Baby")</li>*@
                       @* <li>
                            <button class="md-trigger" data-modal="modal-1">Fade in &amp; Scale</button>
                        </li>*@



                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- /container -->

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>
    @*<div class="md-overlay"></div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


  @*   <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>*@


         @RenderSection("scripts", required: false)


</body>
</html>
